
  .login-page h1 {
    text-align: Left;
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .login-page p {
    text-align: center;
    font-size: 14px;
    color: #666;
  }
  

  .facebook-btn {
    background-color: #4267b2; 
    color: white;
    border: none;
    padding: 12px;
    border-radius: 50px;
    width: calc(100% - 20px);
    margin-bottom: 20px;
  }
  
  .facebook-btn:hover {
    background-color: #365899;
  }
  
  .facebook-btn span {
    font-size: 16px;
  }

  .divider {
    text-align: center;
  }
  
  .divider span {
    color: #666666;
  }

  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: calc(100% - 20px); 
  }
  

  button.submit-btn {
    background-color: #1db954; 
    color: white;
    border: none;
    padding: 12px;
    border-radius: 50px; 
  }
