/* General Styling */
@import "tailwindcss";

.dashboard {
    font-family: Arial, sans-serif;
  }
  
  /* Header */
  
  /* Search Bar */
  .search-bar {
    margin-top: 100px;
    padding: 10px;
  }
  
  .search-bar {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
  
  /* Categories */
  .categories {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    color:#007bff;
  }
  
  .category-btn {
    flex-shrink: 0;
    margin-right: 0px;
    padding: 5px;
    background-color: #599ae0;
    border-radius: 10px;
    width: 99px;
  }
  
  .category-btn:hover {
    background-color: #007bff;
    color: white;
  }
  
  /* Menu Items */
  .menu {
    display: flex;
    flex-direction: column;
  }
  
  .menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }

  .menu-item button {
    width: 50px;
    padding: 5px;
    transition: background-color 0.3s ease; 
}

.menu-item button:hover {
    opacity: 0.9; 
}
  
  .menu-item span {
    font-weight: bold;
  }
  
  /* Footer */
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:#007bff ;
    color:white;
    text-align:center;
    padding:10px;
    border-radius:10px 10px 0px 0px;
}
  