
  
  .signup-page h1 {
    text-align: Left;
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .signup-page p {
    text-align: center;
    font-size: 14px;
    color: #666;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 10px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 5px;
  }
  
  input {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="number"],
  input[type="url"] {
    width: calc(100% - 20px); /* Adjust for padding */
  }
  
  button {
    background-color: #1db954; /* Spotify green */
    color: white;
    border: none;
    padding: 12px;
    border-radius: 50px; /* Rounded button */
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1aa34a; /* Darker green on hover */
  }
  
  button.facebook-btn {
    background-color: #4267b2; /* Facebook blue */
  }
  
  button.facebook-btn:hover {
    background-color: #365899; /* Darker Facebook blue */
  }
  
  /* Divider Styling */
  .divider {
    text-align: center;
    margin-top: -10px;
  }
  
  .divider span {
    color: #666666;
  }