@import "tailwindcss";

.specialNote {
   margin-top: 20px;
   border: 1px solid #ccc;
   border-radius: 5px;
   width: 100%;
   
}
.proceed-button {
   display: inline-block;
   text-align: center;
   font-size: 1rem;
   font-weight: bold;
   transition: background-color 0.3s ease, transform 0.3s ease;
}

.proceed-button:hover {
   background-color: #2563eb; /* Darker blue */
   transform: scale(1.05); /* Slightly enlarge the button on hover */
}
